/* Ui Color Variables */
$main-color: #3376FE;
$main-color-darker: #3569D5;
$main-color-lighter: #99BBFF;
$main-color-subtle: #E3ECFE;

/* Error  */
$error-color: #FF3C3C;
$error-color-darker: #FF5C5D;
$error-color-lighter: #FF8080;
$error-color-subtle: #FF8080;

/* Success  */
$success-color: #0AC170;
$success-color-darker: #07A55F;
$success-color-lighter: #3AD88B;
$success-color-subtle: #59ECA2;

/* Warning  */
$warning-color: #FFCC00;
$warning-color-darker: #E6B800;
$warning-color-lighter: #FDDE47;
$warning-color-subtle: #FDEC73;

/* Dark  */
$dark: #3A3A3C;
$dark-2: #6A7588;
$dark-3: #8F8FA4;
$dark-4: #C6C9D8;

/* Light  */
$light: #DCE5E8;
$light-2: #ECEBF0;
$light-3: #F3F2F7;
$light-4: #FAFAFC;
