@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@300;400;700;800&display=swap');

$global-ui-font: 'Golos Text', sans-serif;
$global-ui-font-light: 300;
$global-ui-font-normal: 400;
$global-ui-font-bold: 700;